/* Breadcrumbs */
.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.breadcrumb li+li:before {
    content: ">";
    padding: 0 8px;
    color: #666;
}

.breadcrumb a {
    color: #36bf76;
    text-decoration: none;
    position: relative;
}

.breadcrumb a:hover {
    text-decoration: underline;
}