

/* Widget Box */
.widget-box {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.widget-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.widget-header {
    background: var(--primary-color);
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 25px;
}

.widget-header h4 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.widget-main {
    padding: 20px;
}